.gender-option {
    /* background-color: red; */
    height: 25px;
    border-radius: 5px;
}

.error-message{
    color: red;
    font-size: 12px;    
    /* background-color: rebeccapurple; */
    text-transform: capitalize;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 40vw;
    
}

#register-result{
    margin-top: 20px;
    
    
    display: none;
}

.green{
    color: green;
}
.red{
    color: red;
}
