.note {
    background-color: aqua;
    border-radius: 10px;
    padding: 10px 10px;
    min-height: 150px;
    height: fit-content;
    min-width: 269px;
    /* max-height: auto; */

    
    
    /* display: -webkit-box;
    -webkit-line-clamp: 5; /* Works in WebKit browsers */
    /* -webkit-box-orient: vertical; */ 
    
    /* Fallback for unsupported browsers */
    display: flex;
    flex-direction: column;
}


.note-header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}
.note-action {
    display: flex;
    gap: 10px;
}

.edit-btn {
    color: #007bff;
    position: relative;
}

.note-footer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 5px 10px;
    column-gap: 5px;
    row-gap: 5px;
    /* background-color: green; */
    flex-wrap: wrap;
    justify-self: flex-end;
    
    min-height: 15px;
    max-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    
}

#tag-item {
    background-color: lightyellow;
    color: black;
    border: 1px solid lightcoral;
    border-radius: 7px;
    padding: 2px 2px;
    display: inline-block;
    font-size: smaller;
    align-self: flex-end;
}

#tag-item:hover {
    background-color: lightcoral;
    color: white;
    cursor: pointer;
}


.modal-area{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
    align-items: center;
}

.alert-action {
    display: flex;
    gap: 15px;
}

.note-content{
    /* background-color: red; */
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 110px;
    max-height: 200px;
    
    
}

.content-detail{
    text-indent: 0rem;
    text-overflow: ellipsis;
    min-height: 100px;
    max-height: 130px;
    
}